:root {
  --branding-color: #79befe;
  --heading-font-family: "Oswald", serif;
  --default-font-family: "Quicksand", serif;
  --secondary-color: #b2daff;
}
body {
  font-family: var(--default-font-family);
  background-color: #fff;
}
h1 {
  font-family: var(--heading-font-family);
  color: #fff;
  font-size: 96px;
  font-weight: 200;
  line-height: 1.5;
}
p {
  font-family: var(--default-font-family);
  color: #000;
  line-height: 30px;
}

h1,
h2 {
  margin: auto;
}
h2 {
  font-family: var(--heading-font-family);
  font-size: 60px;
  font-weight: 200;
}
a {
  color: #fff;
}
a:hover {
  text-decoration: none;
}
.hero {
  background-color: hsla(259.4117647058824, 100%, 63%, 1);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1162 1162' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
    radial-gradient(
      circle at 15% 85%,
      hsla(209.09090909090907, 75%, 65%, 1) 19%,
      transparent 84%
    ),
    radial-gradient(
      circle at 31% 1%,
      hsla(161.47058823529412, 99%, 84%, 1) 12%,
      transparent 85%
    ),
    radial-gradient(
      circle at 30% 27%,
      hsla(305.34653465346537, 89%, 77%, 1) 14%,
      transparent 90%
    ),
    radial-gradient(
      circle at 88% 87%,
      hsla(163, 90%, 78%, 1) 3.6400864520532363%,
      transparent 75.20902830975928%
    );
  background-blend-mode: overlay, normal, normal, normal, normal;
  text-align: center;
  padding: 100px 5px;
}
.hero p {
  font-size: 30px;
  color: #fff;
  margin: 20px 0 -15px 0;
}

.hero h2 {
  color: #fff;
  font-size: 24px;
}

.btn-branding {
  border: 1px solid #fff;
  border-radius: 25px;
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.btn-branding:hover {
  color: #fff;
  border: none;
}
.btn-paragraph {
  border: 1px solid var(--branding-color);
  border-radius: 25px;
  color: var(--branding-color);
  font-size: 16px;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
.btn-paragraph:hover {
  color: var(--branding-color);
  border: none;
}
.capabilities {
  background-color: var(--branding-color);
  border-radius: 25px;
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
}
.contact-page-background {
  background-color: hsla(259.4117647058824, 100%, 63%, 1);
  background-image: radial-gradient(
      circle at 15% 85%,
      hsla(209.09090909090907, 75%, 65%, 1) 19%,
      transparent 84%
    ),
    radial-gradient(
      circle at 31% 1%,
      hsla(161.47058823529412, 99%, 84%, 1) 12%,
      transparent 85%
    ),
    radial-gradient(
      circle at 88% 87%,
      hsla(163, 90%, 78%, 1) 3.6400864520532363%,
      transparent 75.20902830975928%
    ),
    radial-gradient(
      circle at 30% 27%,
      hsla(305.34653465346537, 89%, 77%, 1) 14%,
      transparent 90%
    );
  background-blend-mode: normal, normal, normal, normal;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.footer-link a {
  color: var(--branding-color);
}
.navbar {
  transition: all 0.5s;
}
.navbar-scrolled {
  background-color: var(--secondary-color);
}
.project-section {
  padding: 20px 30px;
  margin-top: 50px;
}
.sub-bar {
  background-color: var(--branding-color);
  padding: 10px 0 1px 0;
}

.sub-bar p {
  color: #fff;
}
.sub-heading {
  font-family: var(--default-font-family);
}

.social-link:hover {
  color: var(--secondary-color);
}
@media (max-width: 960px) {
  h1 {
    font-size: 54px;
    margin: 15px 0 5px 0;
  }
  h2 {
    font-size: 50px;
  }
  .about-description {
    text-align: center;
  }
  .project-description {
    text-align: center;
  }
  .capabilities {
    font-size: 12px;
    line-height: 38px;
  }
  .website-logo {
    width: 30px;
    height: 30px;
  }
}
